body h1{
    font-size: 3em;
    padding: 0.25em 0;
    font-weight: 650;
}

body h2 {
    font-size: 2em;
    padding: 0.25em 0;
    font-weight:500;
}

body h3 {
    font-size: 1em;
    font-weight: 250;
}